body {
    font-family: 'Arial', sans-serif;
    background-image: url('img/background.jpg') !important;
    background-size: cover;
    background-position: center;
  }

  .container {
    height: 100vh;
    width: 100% !important;
  }

  .hilang {
    display: none;
  }

  .amplop {
    width: 15rem;
    height: 15rem;
    cursor: pointer;
  }

.swal2-popup {
    background-color: rgb(43, 160, 228, 0.7);
    color: white;
  }
 
  .swal2-title {
    color: white;

  }

  .swal2-html-container {
    color: white;
  }

 .swal2-image {
    width: 150px !important;
    height: 150px !important;
}